a {
    text-decoration: none;
    color: white;
}

.navbar {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.4s;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px black;
    border: 1px;

}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 5px black, -2px -2px 5px gray;
    font-style: italic;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
    font-style: normal;
    font-weight: 400; 
    transition: .5;
    color:#ffffff;
    text-shadow: 2px 2px 5px black, -2px -2px 5px gray;
}

.navbar ul li a:hover {
    color:#F62817;
    transform: scale(1.5s);
    transition: all ease 0.8s;
}
