#Projects {
   
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    height: 200vh;
    
}
.projects { 
    background: #800000;
     padding: 40px; 
     text-align: center; 
} 


.project-cards {
     display: flex;
      gap: 50px;
    justify-content: center;
 } 
 .projects h2 , p {
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
 }
