.thankyou {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 3;
        background: linear-gradient(to top , #ffffff, #731919, #f3f3f3);
}
.thankyou h1{
    color: #800000;
    font-style: italic;
}


.thankyou btn {
        display: inline-block; 
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none; 
        margin-right: 10px; 
        gap: 300px;
        align-items: center;
    }
    .thankyou .btn:hover {
        border-radius: 20px;
        color: #ffffff;
        box-shadow: none;
        gap: 300px;
        transform: scale(1.078);
        transition: all ease 0.8s;
    }
    