.thankyou {
    height: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 3;
}


.thankyou btn {
        display: inline-block;
        background: white; 
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none; 
        margin-right: 10px; 
        gap: 300px;
        align-items: center;
    }
    .thankyou .btn:hover {
        color: #000000;
        box-shadow: none;
        gap: 300px;
        transform: scale(1.078);
        transition: all ease 0.8s;
    }
    